html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'Denk One', sans-serif; */

body {
  background-color: #f5f2f0;
  margin: 0;
}

img {
  width: 100%;
  flex-grow: 1;
}

h1, h2 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
}

h1 {
  margin: 0;
  padding: 1rem;
}

ol {
  list-style-type: none;

  display: flex;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: .5rem 1rem 1rem;
  margin: 0;
  flex-grow: 1;
}

li {
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;
  margin: 0;
  padding: 0 1rem 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

li a {
  font-family: Georgia, serif;
  text-decoration: none;
  color: #fff;

  background-color: #623b0c;
  padding: .5em .75em .6em;
  border-radius: 8px;

  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

p {
  font-family: Georgia, serif;
  flex-grow: 1;
  align-items: stretch;
}
