html {
  box-sizing: border-box;
  font-family: 'Denk One', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'Denk One', sans-serif; */

body {
  background-color: #f5f2f0;
  margin: 0;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  padding: 1rem;
  margin: 0;
  background-color: blue;
}

h2 {
  text-align: left;
}

ol {
  list-style-type: none;

  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

li {
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;
  padding: .5em .75em .6em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li a {
  font-family: "Georgia", serif;
  text-decoration: none;
  color: #fff;

  background-color: #623b0c;
  padding: .5em .75em .6em;
  border-radius: 8px;
}

p {
  font-family: "Georgia", serif;
}
